@model List<CatcheModel>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
	<div class="col">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Img</th>
				<th>Date</th>
				<th>AirTmp</th>
				<th>Pressure</th>
				<th>CloudCover</th>
				<th>SeaLevel</th>
				<th>waterTemp</th>
				<th>windDir</th>
				<th>windSpd</th>
				<th>Type</th>
				<th>Height</th>
			</tr>
			</thead>

			<tbody>
			@foreach (var c in Model) {
				<tr>
					<td><img src="images/@c.Image" width="100"/></td>
					<td>@c.FishTime.ToString("g")</td>
					<td>@c.Whether.AirTemperature</td>
					<td>@Math.Round(c.Whether.Pressure.Value)</td>
					<td>@c.Whether.CloudCover</td>
					<td>@c.Whether.SeaLevel</td>
					<td>@c.Whether.waterTemperature</td>
					<td>@c.Whether.windDirection</td>
					<td>@c.Whether.windSpeed</td>
					<td>@c.Tide.Type</td>
					<td>@Math.Round(c.Tide.Height.Value,4)</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>